.git
.gitignore
.github
.env
.env.backup
.env.production
vendor/
node_modules/
public/hot
storage/*.log
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
bootstrap/cache/*
.vscode/
.idea/
docker-compose.yml
Dockerfile
README.md
